{
	"root": true,
	"extends": "airbnb",
	"env": {
		"browser": true,
		"node": true,
		"es6": true
	},
	"parser": "typescript-eslint-parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true,
			"experimentalObjectRestSpread": true
		}
	},
	"settings": {
    "import/resolver": {
      "node": {
				"paths": ["./src"],
				"extensions": [".js", ".jsx", ".ts", ".tsx"]
			}
    }
	},
	"plugins": [
		"react",
		"typescript",
		"react-hooks",
		"prettier",
		"import"
  ],
	"rules": {
		"prettier/prettier": "error",
		"react-hooks/rules-of-hooks": "error",
		"react/jsx-one-expression-per-line": ["off"],
		"semi": ["error", "never"],
		"comma-dangle": ["error", "never"],
		"jsx-quotes": ["off", "prefer-single"],
		"function-paren-newline": ["off"],
		"object-curly-newline": ["off"],
		"import/no-unresolved": [2, { "caseSensitive": false }],
		"consistent-return": ["off"],
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }]
	}
}